* {
    margin: 0;
    padding: 0;
    
    /*stellt sicher, dass Padding und Border 
    in die Gesamtbreite und -höhe eines Elements einbezogen werden*/
    box-sizing: border-box;
}

body {
    font-family: "Seogoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* Hintergrundfarbe mit Farbverlauf */
    background-image: linear-gradient(135deg, #e3e3e3 0%, #ddd0be 100%);
    min-height: 100vh;

    /*wenn sich die größe des Fensters verändert werden Elemente 
    entweder nebeneinander oder über einander dargestellt (flexibilität)*/
    display: flex;

    /*zentriert den Inhalt horizontal*/
    justify-content: center;

    /*zentriert den Inhalt vertikal*/
    align-items: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    /* wie stark der Text hervorgehoben wird */
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    /*fügt einen sanften Übergangseffekt hinzu, wenn sich die Rahmenfarbe ändert*/
    transition: border-color 0.3s;
}

/*wenn ein Eingabefeld (input) angeklickt wird*/
input:focus {
    /*entfernt den standardmäßigen Fokus-Rahmen*/
    outline: none;
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 15px;
    /* Hintergrundfarbe mit Farbverlauf */
    background-image: linear-gradient(135deg, #ddd0be 0%, #e3e3e3 100%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s;
}

/*button:hover {
    /*hebt den button leicht an
    transform: translateY(-2px);
}*/

.link-text {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.link-text a {
    color: #667eea;
    text-decoration: none;
    /*hervorheben des linkes*/
    font-weight: 600;
}

.link-text a:hover {
    text-decoration: underline;
}